<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>我的商品</title>
</head>
<script src="../static/vue.js"></script>
<script src="../static/axios.js"></script>
<script th:src="@{/vue.js}"></script>
<script th:src="@{/axios.js}"></script>
<style>
    .root{
        padding-right: 100px;
        padding-left: 100px;
    }
    .a{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
<body>
<div id="app" class="root">
    <h2 style="text-align: center">编辑商品信息</h2>
    <div class="a">
        <a style="margin-right: 5px">商品名称</a>
        <input style="margin-left: 5px" type="text" v-model="goodsInfo.title">
    </div>
    <div class="a">
        <span style="margin-right: 5px; vertical-align: top">商品详情</span>
        <textarea maxlength="300" cols="100" rows="20" style="margin-left: 5px" v-model="goodsInfo.detail"></textarea>
    </div>
    <div class="a">
        <span style="margin-right: 5px">商品价格</span>
        <span>¥</span>
        <input type="number" style="margin-left: 5px" min="0" max="100000000" v-model="goodsInfo.price">
    </div>
    <div class="a">
        <span style="margin-right: 5px">商品数量</span>
        <input type="number" style="margin-left: 5px" min="1" max="100000000" v-model="goodsInfo.amount">
    </div>
    <div class="a">
        <button>提交更改</button>
    </div>
    {{goodsInfo}}
</div>
</body>
<script th:inline="javascript">
    new Vue({
        el: '#app',
        data:{
            goodsInfo: {
                title: [[${goodsInfo.title}]],
                detail: [[${goodsInfo.detail}]],
                price: [[${goodsInfo.price}]],
                amount: [[${goodsInfo.amount}]]
            }
        },
        mounted: function () {
            this.verifyIdentity()
        },
        methods: {
            verifyIdentity: function(){
                /*验证用户的登录信息*/
                let that = this
                axios.get('/data/identity').then(function(response){
                    let res = response.data
                    if(res.length == 0){
                        /*用户未登录*/
                        window.location.href = '/'  //返回主页
                    }
                }).catch(function (response) {
                    console.log(response)
                })
            },
            submitChange: function(){

            }
        }
    })
</script>
</html>