<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>校园二手交易平台</title>
</head>
<script src="../static/vue.js"></script>
<script src="../static/axios.js"></script>
<script th:src="@{/vue.js}"></script>
<script th:src="@{/axios.js}"></script>
<style>
    .root{
        padding-right: 50px;
        padding-left: 50px;
    }
    h1{
        text-align: center;
    }
    .identity{
        text-align: right;
    }
</style>
<body>
<div id="app" class="root">
    <h1>校园二手交易平台</h1>
    <div class="identity">
        <div class="stranger" v-show="username.length == 0">
            <a href="/page/login" style="margin-right: 5px;">登录</a>
            <a href="/page/register" style="margin-left: 5px;">注册</a>
        </div>
        <div class="user" v-show="username.length > 0">
            <a href="/page/user_center">{{username}}</a>
            <input type="submit" value="登出" @click = "logout()">
        </div>
    </div>
</div>
</body>
<script>
    new Vue({
        el:'#app',
        data:{
            username: ''
        },
        mounted: function(){
            this.checkIdentity()
        },
        methods:{
            checkIdentity: function(){
                let that = this
                axios.get('/data/identity').then(function(response){
                    let username = response.data
                    if(username.length == 0)
                        console.log('陌生人')
                    else
                        console.log(username + '已登录')
                    that.username = username
                }).catch(function(response){
                    console.log(response)
                })
            },
            logout: function(){
                let that = this
                axios.post('/data/logout').then(function(response){
                    that.username = ''
                }).catch(function (response) {
                    console.log(response)
                })
            }
        }
    })
</script>
</html>