<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<script src="../static/vue.js"></script>
<script src="../static/axios.js"></script>
<script th:src="@{/vue.js}"></script>
<script th:src="@{/axios.js}"></script>
<style>
    p{
        color: red;
        font-size: 10pt;
        text-align: center;
    }

    .input{
        text-align: center;
        margin-top:10px;
    }
</style>
<body>
<div id="app" class="app">
    <h2 style="text-align: center;">注册</h2>
    <div class="input"><input class="input" type="text" placeholder="用户名" v-model="username" @input="isUsernameValid()" maxlength="10"></div>
    <p>{{usernameAlert}}</p>
    <div class="input"><input class="input" type="password" placeholder="密码" v-model="pw" @input="isPwValid()" maxlength="16"></div>
    <p>{{pwAlert}}</p>
    <div class="input"><input type="submit" v-show="usernameAlert.length == 0 && pwAlert.length == 0"value="注册" @click="register()"></div>
    <div class="input"><a class="input" href="/">返回主页</a></div>
</div>
</body>
<script>
    new Vue({
        el:'#app',
        data:{
            username: '',
            pw: '',
            usernameAlert: '用户名长度限制：1-10',
            pwAlert: '密码长度限制：4-16',
        },
        mounted: function(){
            this.checkIdentity()
        },
        methods:{
            checkIdentity: function(){
                let that = this
                axios.get('/data/identity').then(function(response){
                    if(response.data.length > 0){
                        /*用户已登录*/
                        window.location.href = "/"
                    }
                }).catch(function(response){
                    console.log(response)
                })
            },
            register: function () {
                let that = this
                axios.post('/data/register', {
                    username: that.username,
                    pw: that.pw
                }).then(function(response){
                    console.log(response)
                    let result = response.data.result
                    if(result){
                        window.location.href = "/page/home_page"
                    }else{
                        that.usernameAlert = response.data.msg
                        console.log(that.usernameAlert)
                    }
                }).catch(function(error){
                    console.log(error)
                })
            },
            isUsernameValid: function(){
                console.log('isUsernameValid')
                let nameLength = this.username.length
                if(nameLength > 0 && nameLength <= 10) {
                    this.usernameAlert = ''
                    return true
                }
                else {
                    this.usernameAlert = '用户名长度限制：1-10'
                    return false
                }
            },
            isPwValid: function(){
                console.log('isPwValid')
                let pwLength = this.pw.length
                if(pwLength >= 4 && pwLength <= 16) {
                    this.pwAlert = ''
                    return true
                }
                else {
                    this.pwAlert = '密码长度限制：4-16'
                    return false
                }
            }
        }
    })
</script>
</html>